{% extends 'base.html' %}
{% block title %}
Добавить ЛПР
{% endblock %}

{% block body %}
<div style=" justify-content: center; text-align: center">
<h1>Добавление ЛПР</h1>
<div>
    <div id="card" style="margin-left: 150px;  padding-left: 20px; padding-right: 20px; margin-bottom: 10px; margin-top: 10px; padding-bottom: 20px; padding-top: 20px; margin-right: 150px; background-color: darkslategray; color: white; border-radius: 10px">
        {# Форма для добавления МО#}
        <form method="post" enctype="multipart/form-data">
            <textarea type="text" name="name" required minlength="1" placeholder="ФИО" id="name" class="form-control"></textarea><br>
        {# Выбор региона#}
            <select style="color: darkslategray" name="region">
            {% for item in regions %}
            <option style="color: darkslategray" value="{{ item.id }}">{{ item.region_name }}</option>
            {% endfor %}
            </select><br><br>
            <textarea name="pos" id="pos" class="form-control" placeholder="Должность"></textarea><br>
            <textarea name="phone" id="phone" class="form-control" placeholder="Номера телефонов"></textarea><br>
            <textarea  name="nets" id="nets" class="form-control" placeholder="Сайт"></textarea><br>
            <textarea name="mail" minlength="1" placeholder="Электронная почта" id="mail" class="form-control"></textarea><br>
            <textarea  name="tg" id="tg" class="form-control" placeholder="Телеграм"></textarea><br>
            <textarea  name="fb" id="fb" class="form-control" placeholder="FaceBook"></textarea><br>
            <textarea  name="vk" id="vk" class="form-control" placeholder="ВКонтакте"></textarea><br>
            <textarea  name="ok" id="ok" class="form-control" placeholder="Одноклассники"></textarea><br>
        <input type="submit" class="btn btn-dark" style="color: darkslategray; font-size: 30px" value="Добавить">
        </form>
    </div>

</div>
</div>
{% endblock %}